<nav class="navbar navbar-expand-lg navbar-light bg-black">
    <div class="container-fluid">
        <span class="navbar-brand flex-wrap">
            <!-- navbar icon images -->
            <div class="d-flex flex-wrap">
                <img src="/Images/WGC-logo.svg" alt="" width="100" height="50" class="d-inline-block align-text-top me-4">
                <img src="/Images/UGM-logo.svg" alt="" width="50" height="50" class="d-inline-block align-text-top me-4">
            </div>

            <!-- burger buttons -->
            <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-view-list navbar-icon"></i>
            </button>
        </span>
       
        <!-- collapsable list -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-github navbar-icon me-2"></i> GOLD PRICE PREDICTION</a>
                </li>
            </ul>
        </div>
    </div>
</nav>