<!-- bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

<script>
    let gold_price_surge_chart_instance = null;
    let pred_table, gold_price_chart, gold_price_surge_chart;
    let base_url_api = 'http://127.0.0.1:5000/api';

    $(document).ready( function () {
        // create chart and table
        create_gold_histories_chart();
        create_prediction_histories_table();

        // on click listeners
        $('#historical-submit-prediction').click(function(){
            let data = {
                "model_ranges": $('#historical-prediction-ranges').val(),
                "pred_prefered_currency": $('#historical-preferred-currency').val(),
                "model": $('#historical-preferred-model').val()
            }

            update_table(pred_table, JSON.stringify(data))
        });

        $('#surge-submit-prediction').click(function(){
            let data = {
                "window": $('#surge-prediction-ranges').val(),
                "currency": $('#surge-preferred-currency').val()
            }

            // if (isCanvasBlank(document.getElementById('surge-gold-data-chart')) == false) {
            //     gold_price_surge_chart.destroy()
            // }

            create_surge_chart($('#surge-preferred-currency').val(), JSON.stringify(data))
        });
    });

    function ajax_call(endpoint, method) {
        $.ajax({
            type: "GET",
            url: endpoint,
            success: function(data) {
                return data
            }
        });
    }

    function create_gold_histories_chart() {
        $.ajax({
            type: "GET",
            url: `${base_url_api}/chart/get_gold_data`,
            success: function(data) {
                // get date and close price data
                let date_data = data['response']['date_data'];
                let close_data = data['response']['close_data'];

                // draw chart from data
                gold_price_chart = document.getElementById('historical-gold-data-chart');
                new Chart(gold_price_chart, {
                    type: 'line',
                    data: {
                    labels: date_data,
                    datasets: [{
                            label: 'Gold Price in USD',
                            data: close_data,
                            borderColor: 'rgba(66, 54, 23)',
                            backgroundColor: 'rgba(222, 192, 115)',
                            borderWidth: 2,
                            fill: true
                        }]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            x: {
                                title: {
                                display: true,
                                text: 'Date'
                                }
                            },
                            y: {
                                title: {
                                display: true,
                                text: 'Price'
                                },
                                beginAtZero: false
                            }
                        }
                    }
                });
            }
        });
    }

    function normalize_json(json_data) {
        let data = {};
        for (let key in json_data) {
            if (json_data.hasOwnProperty(key)) {
                let new_key = key.replace(/\s+/g, '').toLowerCase();
                data[new_key] = json_data[key];
            }
        }
        return data;
    }
    
    function create_prediction_histories_table() {
        $.ajax({
            type: "GET",
            url: `${base_url_api}/table/get_prediction_table_data`,
            success: function(data) {
                // Convert indexed array from json to normal array object
                let table_values = Object.values(data['response']);

                // Change keys to match Grid Js standard
                let table_data = table_values.map(normalize_json);

                // draw table from data
                pred_table = $("div#prediction-histories").Grid({
                    pagination: {
                        limit: 5
                    },
                    columns: ['DATE', 'CURRENCY', 'CURRENTPRICE', 'DATERANGE', 'RESULTS'],
                    data: table_data
                });
            }
        });
    }

    function update_table(table, raw_json) {
        // show loading swal
        Swal.fire({allowOutsideClick : false,title: "Making Prediction", didOpen: () => {swal.showLoading();}});

        // get prediction and update table
        $.ajax({
            data: raw_json, 
            type: 'POST',
            processData: false,
            url: `${base_url_api}/table/post_prediction_data`,
            contentType: 'application/json',
            success: function(data) {
                // Convert indexed array from json to normal array object
                let table_values = Object.values(data['response']);

                // Change keys to match Grid Js standard
                let table_data = table_values.map(normalize_json);

                // force update data on the table
                table.updateConfig({data: table_data}).forceRender();

                Swal.fire({
                    icon: "success",
                    title: "Successfully Predict Gold Price!",
                    showConfirmButton: false,
                    timer: 1500
                }).then((result) => {
                    swal.close()
                });
            },
            error: function(data) {
                Swal.fire({
                    icon: "error",
                    title: "Cannot Make Prediction, Something is Wrong!",
                    showConfirmButton: false,
                    timer: 1500
                }).then((result) => {
                    swal.close()
                });
            }
        });
    }

    function create_surge_chart(currency, raw_json) {
        // show loading swal
        Swal.fire({allowOutsideClick : false,title: "Making Prediction", didOpen: () => {swal.showLoading();}});

        $.ajax({
            data: raw_json,
            type: "POST",
            processData: false,
            url: `${base_url_api}/chart/get_ranges_gold_surge_data`,
            contentType: 'application/json',
            success: function(data) {
                // get date and close price data
                let date_data = data['response']['histories']['date_data'];
                let close_data = data['response']['histories']['close_data'];
                let pred_result = data['response']['prediction'];

                // get the chart element
                gold_price_surge_chart = document.getElementById('surge-gold-data-chart').getContext('2d');

                // destroy the existing chart instance if it exists
                if (gold_price_surge_chart_instance) {
                    gold_price_surge_chart_instance.destroy();
                    gold_price_surge_chart_instance = null;
                }
                
                // draw chart from data
                gold_price_surge_chart_instance = new Chart(gold_price_surge_chart, {
                    type: 'line',
                    data: {
                    labels: date_data,
                    datasets: [{
                            label: `Gold Price in ${currency.toUpperCase()}`,
                            data: close_data,
                            borderColor: 'rgba(66, 54, 23)',
                            backgroundColor: 'rgba(222, 192, 115)',
                            borderWidth: 2,
                            fill: true
                        }]
                    },
                    options: {
                        responsive: true,
                        scales: {
                            x: {
                                title: {
                                display: true,
                                text: 'Date'
                                }
                            },
                            y: {
                                title: {
                                display: true,
                                text: 'Price'
                                },
                                beginAtZero: false
                            }
                        }
                    }
                });

                Swal.fire({
                    icon: "success",
                    title: "Successfully Predict Gold Price!",
                    showConfirmButton: false,
                    timer: 1500
                }).then((result) => {
                    swal.close()
                });
            },
            error: function(data) {
                Swal.fire({
                    icon: "error",
                    title: "Cannot Make Chart, Something is Wrong!",
                    showConfirmButton: false,
                    timer: 1500
                }).then((result) => {
                    swal.close()
                });
            }
        });
    }

    function isCanvasBlank(canvas) {
        return !canvas.getContext('2d')
            .getImageData(0, 0, canvas.width, canvas.height).data
            .some(channel => channel !== 0);
    }

</script>